

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form  method="post" id="formAdd">
    名称:<input type="text" name="name" id="name" />
    描述:<input type="text" name="description" id="description" />

    <input type="button" value="保存" id="btnSave"/>
</form>

@section FooterScript{ 
    <script>
        var saveAjax = function () {
            var name = $("#name").val();
            var description = $("#description").val();
            var formData = $("#formData").serializeArray();
            $.ajax({
                url: "/Permission/Add",
                type: "post",
                data: formData,
                datatype: "json",
                success: function (data) {
                    if (data.status == "ok") {
                        alert("ok");
                        parent.location.reload();
                    } else {
                        alert("error");
                    }
                },
                error: function () {
                    alert("it's error")
                }


            });

           
        
        }
        

        $(function () {
            $("#btnSave").click(saveAjax)
        })

    </script>

}



